In [1]:
import pandas as pd
import numpy as np

# Below is the chipotle order data, please answer the following 4 questions:
# Q1: What are the top 5 most popular items? What's the revenue earned from them in total?
# Q2: What's the average number of items per order?
# Q3: Is carnitas or steak a more popular choice of protein?
# Q4: For ppl who ordered chicken bowls, what percentage of them added sour cream as a topping?

url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
df = pd.read_csv(url, sep = '\t')

In [2]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [3]:
# Q1: What are the top 5 most popular items? What's the revenue earned from them in total?
# Table below ranked by popularity, clean_price is revenue

def name_cleaner(name):   
    name = name.strip()
    name = name.replace('$','')
    return name

df['clean_price'] = df['item_price'].map(name_cleaner).astype(float)
items_grouped = df.groupby(by='item_name').sum()
items_grouped.sort_values(by='quantity', ascending=False).head()

                     order_id  quantity  clean_price
item_name
Chicken Bowl           713926       761      7342.73
Chicken Burrito        497303       591      5575.82
Chips and Guacamole    449959       506      2201.04
Steak Burrito          328437       386      3851.43
Canned Soft Drink      304753       351       438.75

In [4]:
# Q2: What's the average number of items per order?
# 2.71 items per order

order_id_grouped = df.groupby(by='order_id').sum()
order_id_grouped.mean()

quantity        2.711014
clean_price    18.811429
dtype: float64

In [5]:
# Q3: Is carnitas or steak a more popular choice of protein?
# 702 Steak and 181 Carnitas Orders, steak is more popular

df['steak'] = np.where(df['item_name'].str.contains('Steak', case=False, na=False), 1, 0)
df['carnitas'] = np.where(df['item_name'].str.contains('Carnitas', case=False, na=False), 1, 0)
print(df.carnitas.value_counts())
print(df.steak.value_counts())

0    4441
1     181
Name: carnitas, dtype: int64
0    3920
1     702
Name: steak, dtype: int64

In [6]:
# Q4: For ppl who ordered chicken bowls, what percentage of them added sour cream as a topping?
# 58.8% of Chicken Bowls contain sour cream

chicken_bowls = df[df['item_name'] == 'Chicken Bowl']
chicken_bowls['sour_cream'] = chicken_bowls['choice_description'].str.contains('Sour Cream', regex=True)
chicken_bowls['sour_cream'].value_counts(normalize=True)

/Users/joshuakarnad/anaconda3/envs/drake/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

True     0.588154
False    0.411846
Name: sour_cream, dtype: float64